*{
    margin: 0px;
    padding: 0px;
  }
  nav{
    width: 100%;
    background-color: gray;
  }
  ul{
    list-style-type:none;
    text-align: center;
  }
  li{
    float:left
  }
  ul li a{
    display: block;
    text-decoration: none;
    color: black;
  }
  a:hover{
    background-color: gainsboro;
  }
  .wrapper{
    width: 1000px;
    margin: auto;
    height: 60px;
  }
  a{
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
  }
  body{
    background-color: teal;
  }
  main{
    background-color: white;
    padding: 15px;
  }

  p{
    text-align: justify;
    font-size: 18px;
  }
  figure{
    margin: 40px 0;
  }
  h2{
    margin: 30px  0 15px 0;
  }
  #prvoslovo::first-letter{
    font-size: 40px;
  }
  #njuh{
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    padding-left: 150px;
  }
  #njuh1{
    width: 50%;
    height: 50%;
    display: block;
    float: right;
    padding-right: 150px;
  }
  #pics{
    width: 25%;
    height: 25%;
  }