*
{
    margin:0;
    padding: 0;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
main{
    background-color: white;
    padding: 15px;
}
body{
    background-color: teal;
}
#fotoaparat{
    display: block;
    margin-left: auto;
    margin-right:375px;
}
#zaslon{
     display: block;
     margin-left: auto;
    margin-right:auto;
    padding: 20px;
}
#figura
{
    margin-left: 225px;
}
.ulklasa
{
    margin-left: 100px;
}
ul li{
    list-style-type: none;
    float: left;
}
ul li a{
    width: 333px;
    line-height: 60px;
    text-align: center;
    display: block;
    color: black;
    font-size: 28px;
    text-decoration: none;
    transition: background-color 1s ease-in-out;
}
ul li a:hover{
    background-color: red;
}
nav{
    background-color: grey;
    width: 100%;
    height: 60px;
    position:sticky
    top 0;
}
.iditeovde {
    color: purple;
    text-decoration: none;
    font-size: 50px;
    
  }
  
  .iditeovde {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .iditeovde:hover {
    background-size: 0 3px, 100% 3px;
  }
  #inf
  {
    font-size:50px
  }