*{
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    background-color: gray;
}
ul{
    list-style-type:none;
    text-align: center;
}
li{
    float: left;
}
ul li a{
    display: block;
    text-decoration:none;
    color: black;
}
a:hover{
    background-color: gainsboro;
}
.wrapper{
    width: 1000px;
    margin: auto;
    height: 60px;
}
a{
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
body{
    background-color: teal;
}
main{
    background-color: white;
}
h1{
}
#logo{
    width: 100px;
    height: 100px;
    float: left;
}
#upozorenje{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
#tekstu{
    text-align: center;
}