*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: gray;
}
ul{
    list-style-type:none;
    text-align: center;
}
li{
    float:left
}
ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: gainsboro;
}
.wrapper{
    width: 1000px;
    margin: auto;
    height: 60px;
}
a{
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
body{
    background-color: teal;
}
main{
    background-color: white;
    padding: 15px;
}
#logo{
    width: 100px;
    height: 100px;
    float:left;
}
#upozorenje{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}
#tekstu{
    text-align: center;
}
p{
    text-align: justify;
    font-size: 18px;
}
figure{
    margin: 40px 0;
}
h2{
    margin: 20px  0 15px 0;
}
#prvoslovo::first-letter{
    font-size: 40px;
  }
.pics img{
    width: 25%;
    height: 25%;
    margin: 15px 100px;
  }
  .pics{
    text-align: center;
  }
  .pics1 img{
    width: 25%;
    height: 25%;
    margin: 15px 100px;
  }
  .pics1{
    text-align: center;
  }
  .rase figure a img
  {
    width:100%;
    border: 1px solid green;
  }
  .rase a:hover img{
    border: 1px blue solid;
  }
   .rase figcaption{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  ul li ul{
    display: none;
    position: absolute;
    background-color: grey;
  }
  ul li{
    position:relative;
  }
  ul li:hover ul{
    display:block;
  }
  .siba{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    padding-top: 30px;
    padding-bottom: 20px;
  }