*
{
    margin:0;
    padding: 0;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
main{
    background-color: white;
    padding: 15px;
}
body{
    background-color: teal;
}
#fotoaparat{
    display: block;
    margin-left: auto;
    margin-right:375px;
}
#zaslon{
     display: block;
     margin-left: auto;
    margin-right:auto;
    padding: 20px;
}
#figura
{
    margin-left: 225px;
}