*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
body{
    background-color: teal;
}
nav{
    background-color: grey;
    width: 100%;
    height: 60px;
}
ul li{
    list-style-type: none;
    float: left;
    position: relative;
}
ul li a{
    width: 250px;
    line-height: 60px;
    text-align: center;
    display: block;
    color: black;
    font-size: 28px;
    text-decoration: none;
    transition: background-color 1s ease-in-out;
}
ul li a:hover{
    background-color: red;
}
main{
    background-color: white;
    padding: 15px;
}
h1{
    margin-bottom: 15px;
}
p{
    text-align: justify;
}
.forme{
    width: 300px;
    margin: 15px auto;
}
fieldset{
    padding: 5px;
}
input [type=text]{
    width: 282px;
}
input [type=email]{
    width: 282px;
}
textarea{
    width: 298px;
    height: 98px;
}
.dugme{
    padding: 5px;
    margin-top: 15px;
}
footer{
    text-align: center;
    height: 60px;
}
footer a img{
    width: 40px;
    height: 40px;
    transition: width 1s linear, height 1s linear;
}
footer a img:hover{
    width: 60px;
    height: 60px;
    
}
nav{
    position: sticky;
    top: 0;
}