*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display:flex;
    justify-content: center;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border:1px solid #fff;
    border-radius: 20px;
}
.container div{
    width: 200px;
    height:200px;
    border-radius: 50%;
    opacity:0.2;
    margin:20px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}