body{
    background-color: black;
    color:aqua;
}
#time{
    position:absolute;
    top:0%;
    right:0;
    text-align: center;
    font-size:20rem;
}
.quize{
    background: #333;
    color:#333;
    height:100vh;
}